<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
<customErrors mode="Off"/>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <connectionStrings>
    <!--<add name="CarlsJrConnectionString" connectionString="Data Source=LAPTOPROBERTO\SQLEXPRESS;Initial Catalog=CarlsJr;Persist Security Info=True;User ID=sa;Password=yomero" providerName="System.Data.SqlClient"/>
		<add name="CarlsJrConnStr" connectionString="Provider=SQLNCLI;Server=LAPTOPROBERTO\SQLEXPRESS;Database=CarlsJr;Uid=sa;Pwd=yomero;"/>-->
    <clear />
    <add name="CarlsJrConnectionString" connectionString="Data Source=localhost;Initial Catalog=dbo;Persist Security Info=True;User ID=sa;Password=Star1234" providerName="System.Data.SqlClient" />

    <add name="CarlsJrConnectionString2" connectionString="Data Source=localhost;Initial Catalog=dbo;Persist Security Info=True;User ID=sa;Password=Star1234" providerName="System.Data.SqlClient" />
    <add name="CarlsJrConnectionString3" connectionString="Data Source=localhost;Initial Catalog=dbo;Persist Security Info=True;User ID=sa;Password=Star1234" providerName="System.Data.SqlClient" />
    <add name="CarlsJrConnStr" connectionString="Provider=SQLNCLI;Server=localhost;Database=CarlsJr;Uid=Administrator;Pwd=CTIcj;" />
  </connectionStrings>

</configuration>
